.modal-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.modal-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(59, 55, 55, 0.449);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 550px;
    margin: 0 20px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 10;
    overflow: hidden;
}

.modal-header {
    flex: 0.35;
    text-align: center;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    flex: 1;
    padding: 20px;
}

.modal-footer {
    flex: 0.20;
    padding: 10px;
    background: rgba(211, 211, 211, 0.707);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 15px;
}

.add-server {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-server > Button {
    width: 100%;
    height: 60px;
    margin: 5px;
}

.modal-control {
    width: 95%;
    display: flex;
    justify-content: space-between;
}